#!/usr/bin/make -f

export DH_VERBOSE=1
export VERSION_CODENAME={{DIST}}
export CLANGINCLUDEGRAPH_GIT_TOPLEVEL_DIR=$(CURDIR)
export CLANGINCLUDEGRAPH_GIT_REVISION={{VERSION}}
export CLANGINCLUDEGRAPH_GIT_BRANCH={{GIT_BRANCH}}
export CLANGINCLUDEGRAPH_GIT_COMMIT={{GIT_COMMIT}}

override_dh_auto_configure:
	dh_auto_configure --buildsystem=cmake -- -DCMAKE_BUILD_TYPE=release -DCMAKE_INSTALL_PREFIX=/usr -DWITH_JSON={{WITH_JSON}} -DGIT_VERSION={{VERSION}}

%:
	dh $@
